 .menu{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 60px;
   background: #f6e0d8;
 }
 .menu a{
   text-decoration: none;
   font-size: 26px;
   font-family: Arial;
   color: #5a362a;
 }
